* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden; /* Evitar el scroll */
}

nav {
    background: #2fcdcd;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.enlace {
    position: absolute;
    padding: 10px 50px;
}
.logo {
    height: 60px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover {
    background: #000090;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
section {
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evitar scroll interno */
}
.texto {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 60%; /* Ajusta el tamaño según sea necesario */
    max-width: 800px; /* Máximo ancho para el contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para legibilidad */
    overflow-y: auto; /* Habilitar scroll interno si es necesario */
    max-height: 100%; /* Limitar la altura máxima */
}
.texto h1 {
    font-size: 1.5rem;
    color: #f3f3f3;
}
.texto p {
    font-size: 1rem;
    color: #f3f3f3;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover, li a.active {
        background: none;
        color: red;
    }
    #check:checked ~ ul {
        left: 0;
    }
}